
h1 {
    font-size: 30px;
}
form{
    margin-bottom: 15px;
}
p {
    
}
aside{
    display: flex;
    gap: 5px;
}
.submit-btn{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;

}