
section {
    padding-bottom: 120px ;
}
h1 {
    font-size: 30px;
}
form{
    margin-bottom: 20px;
}
form p {
    margin:-8px 0px;
}
aside{
    display: flex;
    gap: 5px;
}
.submit-btn{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}