<section class="container mt-5 mb-5 pt-1  pe-5">
    <h1>Contact</h1>
    <form>
        <aside class="col-lg-8">
            <p class="col-lg-6">
                <label for="Enter First Name" class="form-label"></label>
                <input type="text" id="Enter First Name" class="form-control" placeholder="Enter First Name"
                aria-describedby="passwordHelpBlock">
            </p>
            <p class="col-lg-6">
                <label for="Enter Last Name" class="form-label"></label>
                <input type="text" id="Enter Last Name" class="form-control" placeholder="Enter Last Name"
                    aria-describedby="passwordHelpBlock">
            </p>
        </aside>
        <p class="col-lg-8" >
            <label for="email" class="form-label"></label>
            <input type="email" id="email" class="form-control" placeholder="Enter Email ID"
                aria-describedby="passwordHelpBlock">
        </p>
        
        <p class="col-lg-8">
            <label for="Enter Mobile" class="form-label"></label>
            <input type="tel" id="Enter Mobile" class="form-control" placeholder="Enter Mobile" aria-describedby="Enter Mobile">
        </p>

    </form>

    <label for="submit"></label>
    <a routerLink="menu" class="submit-btn text-align-left  btn-dark">Submit</a>
    
    
</section>
