
figure img {
    width: 100%;
    margin-bottom: 10px;
    /* height: 500px; */
    
}
figcaption {
    font-size: 20px;
    font-weight: bold;
}
figure p {
    margin: 2px 0;
}
h2{
    font-size: 30px;
}
input[type=text],textarea{
    padding: 5px;
    margin: -5px 0;
}
textarea{
    margin-bottom: 10px;
}
