
figure img {
    width: 100%;
    margin-bottom: 10px;
    height: 300px; 
    object-fit: cover;
}
a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    
}
.row{
    display: flex;
    
}
figcaption {
    font-size: 20px;
    font-weight: bold;
}
figure p {
    margin: 2px 0;
}
h2{
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
input[type=text],textarea{
    padding: 5px;
    margin: -5px 0;
}
textarea{
    margin-bottom: 10px;
}
