<section class="container mt-5 mb-4 ">
    <a routerLink="/menu" class="backbtn btn-dark">Back</a>
    <article class="row">
        <figure class=" col-lg-6 mt-3" *ngIf="menuData">
            <img src="{{menuData[0].foodImg}}" alt="food-image" width="600" height="600">
            <figcaption>{{menuData[0].foodName}}</figcaption>
            <p style="font-size: 14px;">{{menuData[0].foodDetails}}</p>
            <p>{{menuData[0].foodPrice | currency:'$'}}</p>
        </figure>

        
        <aside class="col-lg-6 ">
                <h2>Enter your Details</h2>
                <form action="">
                    <p>
                        <label for="first name"></label>
                        <input type="text" id="first name" placeholder="Enter First Name">
                    </p>
        
                    <p>
                        <label for="Last name"></label>
                        <input type="text" id="Last name" placeholder="Enter Last Name">
                    </p>
        
                    <label for="address"></label>
                    <textarea name="address" id="address" cols="30" rows="5" placeholder="Enter your address"></textarea>
                </form>
                <label for="order"></label>
                <input class="btn btn-dark" type="button" value="Place Order" id="order" >
        </aside>
        </article>
    
    
</section>

