<section class="banner">
    <aside class="content">
        <h1>freshly cooked food <br> at your door.</h1>
        <a routerLink="menu">Order now <span><i class="bi bi-arrow-right"></i></span></a>
    </aside>
</section>
<!-- steps -->
<section class=" container mt-5 mb-4 ps-3">
    <h2>how to get <span class="highlight">fresh food.</span> </h2>
    <article class="row">
        <aside class="col-lg-4">
            <h1>1</h1>
            <p>Select food</p>
        </aside>

        <aside class="col-lg-4">
            <h1>2</h1>
            <p>Fill the details</p>
        </aside>
    
        <aside class="col-lg-4">
            <h1>3</h1>
            <p>Your order delivered in minutes</p>
        </aside>
    </article>
</section>

<!-- foodbox -->
<section class="container mt-5 mb-4"> 
    <h2>Customers <span class="highlight">favorite food</span></h2>
    <article class="row" >
        <p class="col-lg-3 mb-2" style="background-color: none;"  *ngFor="let fd of foodData; index as i">
            <figure class=" " *ngIf="i<=3">
                <img src="{{fd.foodImg}}" alt="food-image" width="600" height="600">
                <figcaption>{{fd.foodName}}</figcaption>
                <p>${{fd.foodPrice}}</p>
            </figure>
        </p>  
    </article>
    <a routerLink="menu" class="viewbtn">view more<span><i class="bi bi-arrow-right"></i></span></a>
</section> 
