<footer class="navbar sticky-bottom navbar-expand-lg ">
    <section class="container-fluid">
        <section class="col-lg-6 align-items-center">
            <h1>Chevy</h1>
            <p>Good Food, Good Eat!</p>
        </section>
        <!--pages  -->
        <section class="col-lg-4 " >
            <ul class="footer">
                <li class="footer-item">
                    <a aria-current="page" routerLink="">Home</a>
                </li>
                <li class="footer-item">
                    <a aria-current="page" routerLink="about">About</a>
                </li>
                <li class="footer-item">
                    <a aria-current="page" routerLink="menu">Menu</a>
                </li>
                <li class="footer-item">
                    <a aria-current="page" routerLink="contact" >Contact</a>
                </li>
            </ul>
        </section>
            <!-- SOCIALS -->
            <aside class="col-lg-2">
                <ul class="socials">
                    <li>
                        <a href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="bi bi-youtube"></i>
                        </a>
                    </li>
                </ul>
            </aside>
        
    </section>
</footer>
